:root{
    --primary-dm-bg-color: #020617;
    --primary-dm-font-color: #F1F5F9;
    --primary-dm-container-color: #0F172A;
    --button-dm-color: #38BDF8;
    --primary-bg-color: #f0f2f5;
    --primary-font-color: #0F172A;
    --primary-container-color: #E2E8F0;
    --button-color: #0EA5E9;
    --button-hover-color: #0284C7;
}